.singlePost {
    flex: 9
}

.singlePostWrapper {
    padding: 20px;
}

.singlePostImg {
    /* width: 300px; */
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostTitle {
    text-align: center;
    margin: 10px;
    font-size: 25px;
}

.title {
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
}

.singlePostEdit {
    float: right;
    font-size: 16px;
}

.singlePostIcon {
    /* margin: 10px; */
    cursor: pointer;
}

.singlePostIcon:first-child {
    color: teal;
}

.singlePostIcon:last-child {
    color: tomato
}

.singlePostInfo {
    display: flex;
    font-size: 20px;
    margin-bottom: 20px;
    justify-content: space-between;

    color: #b39656
}

.singlePostAuthor {
    /* color: grey; */
    /* margin-right: 10px; */
}

.singlePostDate {
    /* color: gray; */
}

.singlePageDesc {
    font-size: 14px;
    line-height: 25px;
    color: #999;
}

.singlePageDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
    color: black;
}